<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<form th:method="POST" th:object="${book}" th:action="@{/books}">
    <label for="name">Enter name: </label>
    <input type="text" id="name" th:field="*{name}"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name text </div>
    <br/>
    <label for="author">Enter author: </label>
    <input type="text" id="author" th:field="*{author}"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"> author text </div>
    <br/>
    <label for="year">Enter year: </label>
    <input type="text" id="year" th:field="*{year}"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"> year text </div>
    <br/>
    <input type="hidden" th:field="*{person.id}" th:value="null"/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>